<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xavivaio.appxavi" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/android"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="1e2e3ba9c5ca6fece1b438d5bb02212a55bee216" />

        <activity
            android:name=".TwitterLogin"
            android:label="@string/title_activity_twitter_login" >
        </activity>
        <activity
            android:name=".NDrawerActivity"
            android:label="@string/title_activity_ndrawer"
            android:screenOrientation="locked">
        </activity>

        <service
            android:name=".Reproductor.MyService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
